{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "before": true,
    "after": true,
    "afterEach": true,
    "xit": true,
    "Promise": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "no-underscore-dangle": "off",
    "no-unused-vars": ["error", { "args": "after-used" }],
    "object-curly-spacing": ["error", "always"],
    "keyword-spacing": "error",
    "no-unreachable": "error",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "semi": "error",
    "space-infix-ops": "error",
    "no-multi-spaces": "error",
    "eol-last": "error",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "indent": ["error", 2, { "SwitchCase": 1 }]
  }
}
